
    <main>
      <h1>{{puzzle.name}}</h1>
      <img class="cube" src="{{puzzle.imageUrl}}">
      <div class="details">
        <p><span>Description:</span> {{puzzle.description}}</p>
        <p><span>Difficulty level:</span>{{puzzle.difficulty}}</p>
        <a class="btn" href="/">Back</a>
      </div>
    </main>